---
import '../styles/global.css'
// src/layouts/Layout.astro
interface Props {
	title: string;
    description?: string;
}

const { title, description = "AI Literacy for Multidisciplinary Professional Readiness" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- Police Inter via Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
			<!-- Matomo -->
		<script>
		  var _paq = window._paq = window._paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
			var u="https://aimpro.matomo.cloud/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src='https://cdn.matomo.cloud/aimpro.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body class="font-inter text-slate-800 bg-white antialiased">
		<slot />
	</body>
</html>

<style is:global>
	/* Styles globaux si nécessaire */
    .font-inter { font-family: 'Inter', sans-serif; }
</style>